.Contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.Contact .heading { 
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: var(--tertiary);
    font-size: 30px;
}


.Contact .contact-container {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    padding: 0px 40px 80px 40px;
    min-height: 900px;
    flex-wrap: wrap;

}

.Contact .contact-sub-container {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-rows: 4fr 5px 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: var(--primary);
    border-radius: 15px;
    
    width: 350px;
    height: 350px;
    font-size: 20px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.Contact .sub-container-text {
    font-size: 19px;
}

#email-text {
    font-size: 18px;
}

.Contact .contact-image {
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 15px;
}

.Contact #email-img {
    background-image: url('../../assets/email-icon.png');
}

.Contact #whatsapp-img {
    background-image: url('../../assets/whatsapp-icon.png');
}

.Contact #address-img {
    background-image: url('../../assets/directions.jpg');
}

.Contact .contact-action-button {
    background-color: var(--accent);
    color: var(--off-white);
    border-radius: 5px;
    height: 40px;
    width: 90%;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .Contact .contact-container {
        padding: 0px;
        margin: 0px 0px 20px 0px;
    }

    .Contact .heading { 
        font-size: 8vw;
    }

    .Contact .contact-sub-container {
        width: 90%;
        height: 50vh;
        padding: 15px 15px;
        grid-template-rows: 3fr 5px 1fr 2fr;
    }

    .Contact .sub-container-text {
        font-size: 6vw;
    }
    
    #email-text {
        font-size: 5vw;
    }

    .Contact .contact-image {
        height: 80%;
    }

    
    .Contact .contact-action-button {
        height: 70%;
        width: 100%;
        font-size: 3vh;
        font-weight: 600;
    }
  }